@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-neutral-900: #062630;
  --color-neutral-700: #385159;
  --color-neutral-200: #e6e1df;
  --color-neutral-100: #faf5f3;
  --color-light-salmon-500: #fea36f;
  --color-light-salmon-100: #ffe2d1;
  --color-light-salmon-50: #fff5ef;

  /* Font Family */
  --font-inter: "Inter", sans-serif;
  --font-martian-mono: "Martian Mono", monospace;

  /* Line Height */
  --leading-110\%: 110%;
  --leading-120\%: 120%;
  --leading-130\%: 130%;
  --leading-140\%: 140%;

  /* Letter Spacing */
  --tracking-0\.5px: 0.5px;
  --tracking-1px: 1px;
  --tracking-2px: 2px;
}

@layer base {
  body {
    @apply bg-white;
  }
}

@layer components {
  .text-preset-1 {
    @apply font-martian-mono leading-120% -tracking-2px text-[38px] font-bold md:text-[62px];
  }

  .text-preset-2 {
    @apply font-martian-mono leading-130% -tracking-2px text-[34px] font-semibold md:text-[50px];
  }

  .text-preset-3 {
    @apply font-martian-mono md:leading-130% leading-110% -tracking-1px text-2xl font-semibold md:text-[34px];
  }

  .text-preset-4 {
    @apply font-martian-mono leading-110% -tracking-1px text-2xl font-semibold;
  }

  .text-preset-4-regular {
    @apply font-martian-mono leading-110% -tracking-1px text-2xl font-normal;
  }

  .text-preset-5 {
    @apply font-inter leading-140% -tracking-0.5px text-xl font-normal;
  }

  .text-preset-5-semibold {
    @apply font-inter leading-140% -tracking-0.5px text-xl font-semibold;
  }

  .text-preset-6 {
    @apply font-martian-mono leading-130% -tracking-1px text-base font-semibold md:text-lg;
  }

  .text-preset-7 {
    @apply font-martian-mono leading-120% -tracking-1px text-sm font-normal;
  }

  .gradient-primary {
    background: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
  }

  .gradient-text {
    background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  }

  .btn-primary {
    @apply bg-light-salmon-50 hover:from-light-salmon-100 hover:to-light-salmon-50 inline-flex flex-row items-center justify-center gap-4 rounded-lg border-2 border-neutral-900 px-5 py-4 text-neutral-900 transition-colors delay-100 ease-linear hover:bg-linear-to-r hover:from-0% hover:to-100% md:border-4 md:px-6 md:py-5;
  }

  .btn-secondary {
    @apply inline-flex flex-row items-center justify-center gap-4 rounded-lg border-2 border-white px-5 py-4 text-white transition-colors delay-100 ease-linear hover:bg-linear-to-r hover:from-neutral-700 hover:from-0% hover:to-neutral-900 hover:to-100% md:border-4 md:px-6 md:py-5;
  }
}
