@import "tailwindcss";

@theme {

    /* Colors */
    --color-neutral-900: #172339;
    --color-neutral-500: #49566D;
    --color-neutral-200: #F3EDE7;
    --color-neutral-0: #FAF8F6;
    --color-purple-500: #CB30E3;

    /* Font Family */
    --font-sans: var(--font-epilogue);

    /* Font Size */
    --text-5\.5xl: 3.5rem;
    --text-4\.25xl: 2.375rem;
    --text-md: 0.938rem;

    /* Line Height */
    --leading-110\%: 110%;
    --leading-120\%: 120%;
    --leading-150\%: 150%;
    --leading-160\%: 160%;

    /* Letter Spacing */
    --tracking-2\.5px: 2.5px;
    --tracking-1px: 1px;
    --tracking-0\.78px: 0.78px;
    --tracking-0\.53px: 0.53px;
    --tracking-0\.5px: 0.5px;
    --tracking-0\.18px: 0.18px;
    --tracking-0\.11px: 0.11px;
    --tracking-0\.16px: 0.16px;
    --tracking-0\.1px: 0.1px;
    --tracking-0px: 0px;
}


@layer utilities {
    .text-preset-1 {
        @apply text-4.25xl leading-110% -tracking-0.53px md:text-5.5xl md:leading-110% md:-tracking-0.78px lg:text-7xl lg:leading-110% lg:-tracking-1px;
    }

    .text-preset-2 {
        @apply text-5xl leading-120% -tracking-0.5px;
    }

    .text-preset-3 {
        @apply font-normal text-xl leading-160% tracking-0.11px;
    }

    .text-preset-4 {
        @apply font-bold text-lg leading-160% -tracking-0.18px;
    }

    .text-preset-5 {
        @apply font-normal text-lg leading-160% tracking-0.1px;
    }

    .text-preset-6 {
        @apply font-bold text-base leading-150% -tracking-0.16px;
    }

    .text-preset-7 {
        @apply font-normal text-base leading-150% tracking-2.5px;
    }

    .text-preset-8 {
        @apply font-normal text-md leading-160% tracking-0px;
    }
}