@import "tailwindcss";

@theme {
  /* Colors */
  --color-neutral-900: #080c20;
  --color-neutral-400: #777f98;
  --color-neutral-0: #ffffff;
  --color-cyan-400: #3ee9e5;
  --color-red-400: #ff2965;
  --color-blue-800: #093f68;
  --color-blue-gray-500: #6b8ca4;

  /* Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;

  /* Font Size */
  --text-3\.25xl: 2rem;
  --text-4\.5xl: 2.5rem;

  /* Line Height */
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-160: 160%;
}

:root {
  font-family: var(--font-manrope-sans);
}

@layer base {
  body {
    letter-spacing: 0;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-0);
  }
}

@layer utilities {
  .text-preset-1 {
    @apply text-3.25xl leading-120 font-extrabold md:text-5xl;
  }

  .text-preset-2 {
    @apply text-4.5xl leading-140 font-extrabold;
  }

  .text-preset-3 {
    @apply text-3.25xl leading-140 font-extrabold;
  }

  .text-preset-4 {
    @apply text-lg leading-140 font-extrabold;
  }

  .text-preset-5 {
    @apply text-[15px] leading-160 font-medium;
  }

  .text-preset-6 {
    @apply text-[15px] leading-140 font-extrabold;
  }

  .text-preset-7 {
    @apply text-xs leading-160 font-medium;
  }
}
